  {% extends "base.html" %}
  {% block content %}
  <h3 class="center-align">Add Item</h3>
  <hr><br>
  <div class="row card-panel">
      <form class="col s12" method="POST" action="">
          <div class="row">
              <div class="input-field col s12">
                  <i class="fas fa-folder-open prefix teal-text"></i>
                  <select id="category_name" name="category_name" class="validate">
                      <option value="" disabled selected>Choose Category</option>
                      {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                      {% endfor %}
                  </select>
                  <label for="category_name">Materialize Select</label>
              </div>

          </div>
          <div class="row">
              <div class="input-field col s12">
                  <i class="fas fa-pen prefix teal-text"></i>
                  <input id="item_name" name="item_name" type="text" minlength="5" maxlength="50" class="validate"
                      required>
                  <label for="item_name">Item Name</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                  <i class="fas fa-align-left prefix teal-text"></i>
                  <textarea id="item_description" name="item_description" class="materialize-textarea validate"
                      minlength="5" maxlength="200" required></textarea>
                  <label for="item_description">Item Description</label>
              </div>
          </div>
      </form>
  </div>

  {% endblock %}