  {% extends "base.html" %}
  {% block content %}
  <!--Choose Category Section-->
  <h3 class="center-align">Edit Item</h3>
  <hr><br>
  <div class="row card-panel">
      <form class="col s12" method="POST" action="{{ url_for('edit_item', item_id=item._id) }}">
          <div class="row">
              <div class="input-field col s12">
                  <i class="fas fa-folder-open prefix teal-text"></i>
                  <select id="category_name" name="category_name" class="validate">
                      <option value="" disabled >Choose Category</option>
                        {% for category in categories %}
                            {% if category.category_name == item.category_name %}
                                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                  </select>
              </div>
          </div>
          <!-- Edit Item Name -->
          <div class="row">
              <div class="input-field col s12">
                  <i class="fas fa-pen prefix teal-text"></i>
                  <input id="item_name" name="item_name" value="{{ item.item_name }}" type="text" minlength="1" maxlength="50" class="validate"
                      required>
                  <label for="item_name">Item Name</label>
              </div>
          </div>
          <!-- Edit Item Description -->

          <div class="row">
              <div class="input-field col s12">
                  <i class="fas fa-align-left prefix teal-text"></i>
                  <textarea id="item_description" name="item_description" class="materialize-textarea validate"
                      minlength="5" maxlength="200" required>
                    {{- item.item_description -}}
                    </textarea>
                  <label for="item_description">Item Description</label>
              </div>
          </div>
          <!-- Buttons Row -->
          <div class="row">
              <div class="col s12 center-align">
                  <a href="{{ url_for('get_items') }}" class="btn-large red text-shadow">
                      Cancel <i class="fas fa-times-circle right"></i>
                  </a>
                  <!-- Submit Edit to Dictionary Button-->
                  <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                      Edit Item <i class="fas fa-edit right"></i>
                  </button>
              </div>
          </div>
          </form>
          </div>

{% endblock %}