  {% extends "base.html" %}
  {% block content %}
  <!--Choose Category Section-->
  <h3 class="center-align">Edit a Category</h3>
  <hr><br>
  <div class="row card-panel">
      <form class="col s12" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">
          <!-- Category Name -->
          <div class="row">
              <div class="input-field col s12">
                  <i class="fas fa-pen prefix teal-text"></i>
                  <input id="category_name" name="category_name" type="text" value="{{ category.category_name }}" minlength="1" maxlength="30" class="validate"
                      required>
                  <label for="category_name">Category Name</label>
              </div>
          </div>
          <!-- Submit to Dictionary Button-->
          <div class="row">
              <div class="col s12 center-align">
                  <a href="{{ url_for('get_categories') }}" class="btn-large red">
                      Cancel <i class="fas fa-ban right"></i>
                  </a>
                  <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                      Edit Category <i class="fas fa-edit right"></i>
                  </button>
              </div>
          </div>
      </form>
  </div>

  {% endblock %}