{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Dictionary</h3><hr><br>
<!--Collapsible Accordian -->
 <ul class="collapsible">
     {% for item in items %}
     <li>
         <div class="collapsible-header teal lighten-5">
             <i class="fas fa-caret-down"></i>
             <strong>{{ item.item_name }} </strong></div>
         <div class="collapsible-body"><strong>{{ item.category_name }}</strong>
        <p>{{ item.item_description }}</p>
        <p><em>Created By: {{ item.created_by }}</em></p>
         </div>
     </li>
     {% endfor %}
 </ul>
{% endblock %}