{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Dictionary</h3>
<hr><br>
<!--Collapsible Accordian -->
<ul class="collapsible">
    {% for item in items %}
    <li>
        <div class="collapsible-header teal lighten-5">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == item.created_by|lower %}
                        <a href="{{ url_for('delete_item', item_id=item._id) }}" class="btn-small green accent-4">Delete</a>
                        <a href="{{ url_for('edit_item', item_id=item._id) }}" class="btn-small amber accent-4">Edit</a>
                {% endif %}
            </div>
            <div class="col s9">  
                <strong>&nbsp; {{ item.item_name }} </strong></div>
        </div>

        <div class="collapsible-body"><strong>{{ item.item_name }} </strong>
            <p>{{ item.item_description }}</p>
            <p><em>Created By: {{ item.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}