{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Create an Account</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <span>
                <!--Username input-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix light-teal-text"></i>
                        <input id="username" name="username" type="text" class="validate" pattern="^[a-zA-Z0-9]{5,15}$" minlength="5" maxlength="15" required>
                        <label for="username">Username - at least 5 letters long</label>
                    </div>
                </div>
                <!--Password input-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-lock prefix light-teal-text"></i>
                        <input id="password" name="password" type="password" class="validate" pattern="^[a-zA-Z0-9]{5,15}$" minlength="5" maxlength="15" required>
                        <label for="password">Password - at least 5 letters long</label>
                    </div>
                </div>
                <!--Register Button-->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-teal 
                    lighten-4 text-shadow">Create
                        Account</button>
                </div>
            </span>
        </div>
    </form>
        <div class="row">
        <div class="col s12">
            <p class="center-align">Already Registered?<a href="{{ url_for('login') }}"
                    class="teal-text text-darken-4"><strong> Log in</strong></a> </p>
        </div>
    </div>
</div>
</div>

{% endblock %}